
.caja{

    border: black solid 1px ;
    padding: 10px;
    
}
.redondo{
    border-radius: 50%;
}

.alineado{ 
    margin: 0; 
    padding: 0;
    display:inline-block;
    
    

}
.TOTAL{
    padding: 2px;
    border:rgba(90, 90, 90, 0.5) 1px solid ;
    width: 25.9375rem;
    color: gray;
}

.TOTALP{
    display: inline-block;
    width: 12.5rem;
    padding: 2px;
    border:rgba(90, 90, 90, 0.5) 1px solid ;
    color: gray;
}

.lado{
    display: inline-block;
}

.vacio{
    border: red 1px solid;
}

.lleno{
    border: green 1px solid;
}

.separar{
    margin: 1%;
}